/* project card related css */

.projects {
    display: flex;
    flex-direction: row;
    overflow: scroll;
    /* padding-left: 50px; Create the space to shift the first card */
    scroll-snap-type: x mandatory; /* Optional, for snapping if desired */
    
    /*flex grid approach*/
    /* display: grid; */
    /* flex-wrap: wrap; */
    /* grid-template-columns: repeat(3, 1fr); */
}

.projects::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
}


.projectCard {
    display: flex;
    flex-direction: column;
    width: fit-content;
    transition: transform 0.8s ease-in-out, box-shadow 0.3s ease-in-out;
}


/* .projectCard:first-child {
    margin-left: -50px;
} */


.projectCard:hover {
    transform: translateY(-8px);
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.15);

}

.pcImage {
    max-width: inherit;
    border-radius: 15px;
    height: 400px;
    
}

.pcHeader {
    /* text-align: le; */
    font-weight: bold;
    line-height: 2;

}

.pcDesc {
    /* text-align: center; */
    font-size: smaller;
    line-height: 2;
}